@{
    var titulo = ViewData["Title"] as string;

    if (string.IsNullOrEmpty(titulo))
        titulo = "Detran Consultas";
    else
        titulo = $"{titulo} - Detran Consultas";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@titulo</title>
    <link rel="icon" type="image/png" href="~/favicon.ico">
    <link rel="manifest" href="~/manifest.json">

    <environment include="Development">
        <link href="~/bundle/app.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <environment exclude="Development">
        @* 
            <!-- Workaround pelo bug https://github.com/xoofx/NUglify/pull/85. Deverá ser removido quando o bug for resolvido. -->
        *@
        <link href="~/bundle/app.css" rel="stylesheet" asp-append-version="true" />
        @*<link href="~/bundle/app.min.css" rel="stylesheet" asp-append-version="true" />*@
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Detran Consultas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AulasTeoricas" asp-action="Index">Aulas Teóricas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/bundle/app.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/bundle/app.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>